@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100&display=swap');

body {
    width: 100vw;
    height: 100vh;
    font-family: 'JetBrains Mono', monospace;
    overflow: hidden;
    font-size: 14px;
}

.body1 {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.black {
    background-color: #000000;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 16px;
    color: black;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #cd3f25;
}

.header {
    position: fixed;
    top: 2rem;
    left: 2rem;
    right: 2rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: rgba(0,0,0,.5)
}

.header ul {
    width: 100%;
    justify-content: space-around;
}

.footer {
    width: 100%;
    position: fixed;
    bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;   
}

.folder {
    position: absolute;
    top: 50%;
    left: 50%;
}

.folder a {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.folderimg img {
    width: 65px;
    height: 65px;
}
